In [65]:
import pandas as pd
with open('Fund-List.csv', encoding="UTF-8") as f_list:
    list = pd.read_csv(f_list,dtype={"基金代码":str})
list = list.fillna("")
list

     基金代码        开始日期 结束日期
0  165523  2020-01-01
1  004812  2020-01-01
2  160224  2020-01-01
3  003095  2020-01-01
4  000977  2020-01-01
5  161726  2020-01-01
6  090013  2020-01-01
7  163114  2020-01-01

In [66]:
list.iat[1,0]

'004812'

In [67]:
funds_list = []
fund = []
for i in range(len(list)):
    fund.append(list.iat[i,0])
    fund.append(list.iat[i,1])
    fund.append(str(list.iat[i,2]))
    funds_list.append(fund)
    fund = []
funds_list

[['165523', '2020-01-01', ''],
 ['004812', '2020-01-01', ''],
 ['160224', '2020-01-01', ''],
 ['003095', '2020-01-01', ''],
 ['000977', '2020-01-01', ''],
 ['161726', '2020-01-01', ''],
 ['090013', '2020-01-01', ''],
 ['163114', '2020-01-01', '']]

In [69]:
if funds_list[1][2]=="":
    print(type(funds_list[1][2]))
    print(True)
else:
    print(False)

<class 'str'>
True

In [72]:
df = pd.read_csv(filepath_or_buffer="resource/csv/fund-worth-data.csv",encoding="UTF-8")
df

          DATE  165523  004812  160224  003095  000977  161726  090013  163114
0   2020-10-28   0.965  2.0954  0.9338   3.081  2.3058  0.9602   1.244  1.0096
1   2020-10-29   0.957  2.1090  0.9320   3.145  2.3137  0.9960   1.252  1.0123
2   2020-10-30   0.946  2.1128  0.9220   3.093  2.2794  0.9806   1.237  0.9974
3   2020-11-02   0.934  2.1850  0.9324   3.095  2.3154  0.9643   1.248  1.0193
4   2020-11-03   0.958  2.1611  0.9416   3.118  2.3154  0.9750   1.266  1.0259
5   2020-11-04   0.953  2.1699  0.9443   3.144  2.3281  0.9767   1.272  1.0182
6   2020-11-05   0.972  2.2581  0.9647   3.140  2.3525  0.9756   1.285  1.0491
7   2020-11-06   0.970  2.2252  0.9674   3.069  2.3202  0.9401   1.283  1.0371
8   2020-11-09   1.005  2.2361  0.9875   3.156  2.3362  0.9574   1.301  1.0515
9   2020-11-10   0.989  2.2370  0.9753   3.094  2.3238  0.9376   1.303  1.0455
10  2020-11-11   0.963  2.1807  0.9454   2.992  2.3135  0.9032   1.305  1.0275
11  2020-11-12   0.961  2.2041  0.9540   3.032  2.3291  0.9113   1.311  1.0311

In [73]:
df['DATE']

0     2020-10-28
1     2020-10-29
2     2020-10-30
3     2020-11-02
4     2020-11-03
5     2020-11-04
6     2020-11-05
7     2020-11-06
8     2020-11-09
9     2020-11-10
10    2020-11-11
11    2020-11-12
Name: DATE, dtype: object

In [74]:
max(df['DATE'])

'2020-11-12'

In [75]:
min(df['DATE'])

'2020-10-28'

In [76]:
"2020-11-13">max(df['DATE'])

True

In [100]:
seq = {"2020-11-01":1,"2020-11-03":2,"2020-11-04":3,"2020-11-14":4}
keys = []
for key,value in seq.items():
    keys.append(key)
max(keys)

'2020-11-14'

In [144]:
test = [[1,2,3],[4,5,6]]
for t in test:
    if t[0]<2:
        t[0]= 11
test

[[11, 2, 3], [4, 5, 6]]

In [504]:

df = pd.DataFrame([])
d= {'a':["2020-10-29","2020-11-02","2020-10-30","2020-11-04"],'b':[2,7,3,6]}
df = pd.DataFrame(d)
df

            a  b
0  2020-10-29  2
1  2020-11-02  7
2  2020-10-30  3
3  2020-11-04  6

In [505]:
date = pd.to_datetime(df['a'],format="%Y-%m-%d")
date = date.sort_values().tolist()
df['d'] = date
df = df.sort_values('d')
df

            a  b          d
0  2020-10-29  2 2020-10-29
1  2020-11-02  7 2020-10-30
2  2020-10-30  3 2020-11-02
3  2020-11-04  6 2020-11-04

            a  b          d
0  2020-10-29  2 2020-10-29
1  2020-11-02  7 2020-10-30
2  2020-10-30  3 2020-11-02
3  2020-11-04  6 2020-11-04

In [275]:
fund = {}
fund["11"] = [[1,2]]
fund["12"] = [[2,3]]
for key,value in fund.items():
    fund[key][0][0] = 24
fund

{'11': [[24, 2]], '12': [[24, 3]]}

In [287]:
'2020-10-30'<'2020-11-02'

True